<h1 class="rule"> Правила игры и пользования сайтом </h1></br>

<ul class="rule-descr">
  <li> Для того, что бы сыграть в карточную игру <span id="ff8">Card game FFVIII</span> Вам в первую очередь нужно <%= link_to "зарегистрироваться", new_user_registration_path %> на сайте.</li>
  <li> После регистрации вы получите 2100 монет на ваш виртуальный счёт. Эти монеты понадобятся вам, чтобы покупать карты для игры.</li>
  <li> Теперь после регистрации вы попадаете в магазин с картами. На вашем счету 2100 монет и на эти деньги вам надо набрать себе коллоду карт для игры.</li>
  <li> Стоимость карт различается в зависимости от уровня карты.</li>
  <li> Для игры вам потребуется только 5 карт. Поэтому хорошо продумайте выбор карт в свою коллоду. (нет никакого смысла набирать много слабых карт) </li>
  <li> Теперь, когда коллода из пяти карт сформированна, пора начинать ИГРУ!</li>
  <li> Правила игры: 
    <ol>
      <li> У каждой карты есть 4 цифры по бокам (слева, сверху, справа и снизу) </li>
      <li> Вы должны поочереди с соперником ставить ваши карты на игровой стол.</li>
      <li> Ставить карту нужно таким образом, чтобы по возможности побить карту соперника и не дать следующим ходом соперника побить вашу карту. Карты соперника вам показываются.</li>
      <li> Например: если на игровом столе стоит карта соперника, у которой слева число 6, то вы можете побить эту карту, если поставите свою карту справа с числом большим чем 6. (т.е. 7,8,9,10)  </li> 
      <li> Буква А равна цифре 10 (А означает Абсолютое число, т.е. самое большое число в игре, которое раво 10)</li>
    </ol>
  </li>
  <li> Пожалуй хватит теории. Лучше всё опробовать на практике и доразобраться уже там, ведь игра действительно простая! </li>
  
</ul>

<p class="rule"><%= link_to "Назад", root_path %></p>



