%br
.triangle-one

.gameUser  
  - @cart.line_items.each do |item|    
    %p.ss{"data-top" => item.card.top_number, "data-right" => item.card.right_number, "data-bottom" => item.card.bottom_number, "data-left" => item.card.left_number, "data-user" => "1"}= image_tag item.card.image.url(:thumb)       
  
.gamePlayer
  - @card_game.each do |item|    
    %p.ssComp{"data-top" => item.top_number, "data-right" => item.right_number, "data-bottom" => item.bottom_number, "data-left" => item.left_number, "data-user" => "2"}= image_tag item.image.url(:thumb)

.triangle-two

.game
  .game-field{"data-id" => "0"}
  .game-field{"data-id" => "1"}
  .game-field{"data-id" => "2"}
  .game-field{"data-id" => "3"}
  .game-field{"data-id" => "4"}
  .game-field{"data-id" => "5"}
  .game-field{"data-id" => "6"}
  .game-field{"data-id" => "7"}
  .game-field{"data-id" => "8"}
  

  


  
        


        

