
.form-inputs-in {
    label {
    float: left;    
    text-align: right;
    margin: 2px 10px;    
    width: 130px; }
    
    width: 300px;    
  }
  
.form-inputs {
    label {
    float: left;    
    text-align: right;
    margin: 2px 10px;
    width: 170px; }
    
    width: 300px;    
  }
  
 
.form-actions    { margin-left: 68px; }
.form-actionsin { margin-left: 27px; }
.remember { margin-left: 123px; }
.linksdev { float: right; margin-right: 1545px; }
.butt-sign-in { margin-left: 123px; }
#sign-in { margin-left: 149px; }
#reg { margin-left: 189px; }
