// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rule { 
  font-family: 'Lato', sans-serif; 
  font-weight: bold; 
  color: #FF4500; 
  margin-left: 29px; 
 }

.rule-descr { 
    li {font-family: 'Lato', sans-serif; 
        font-weight: lighter; 
       }    
    }

.main { 
  width: 100%; 
  text-align: center; 
 }
 
.main-two { 
  width: 100%; 
  text-align: center; 
  margin-top: 720px; 
 }      
      
.main-descr { 
  font-family: 'Lato', sans-serif; 
  font-weight: bold; 
  color: #9ACD32; 
  font-size: 55px; 
  text-shadow: 1px 1px 2px black, 0 0 6px #C71585;
 }
 
.main-descr-two { 
  font-family: 'Lato', sans-serif; 
  font-weight: bold; 
  color: #EE7600; 
  font-size: 15px;
  text-shadow: .2px .2px .1px black; 
 }

.body-main { 
  background-image: url("ff88.jpg"); 
  background-repeat: no-repeat; 
  background-size: 65%; 
  background-position: center; 
 }
 
.body { background: linear-gradient(to right, #FFFACD, #FFF8DC); }

#ff8 { color: #FF4500; }












